@{
    Layout = null;
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>@ViewData["Title"]</title>

<meta name="description" content="OneUI - Bootstrap 5 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest">
<meta name="author" content="pixelcave">
<meta name="robots" content="noindex, nofollow">

<!-- Open Graph Meta -->
<meta property="og:title" content="OneUI - Bootstrap 5 Admin Template &amp; UI Framework">
<meta property="og:site_name" content="OneUI">
<meta property="og:description" content="OneUI - Bootstrap 5 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">

<!-- Icons -->
<!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
<link rel="shortcut icon" href="~/BackEnd/assets/media/favicons/favicon.png">
<link rel="icon" type="image/png" sizes="192x192" href="~/BackEnd/assets/media/favicons/favicon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/BackEnd/assets/media/favicons/apple-touch-icon-180x180.png">
<!-- END Icons -->
<!-- Stylesheets -->
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="~/BackEnd/assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="~/BackEnd/assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
<link rel="stylesheet" href="~/BackEnd/assets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">

<!-- OneUI framework -->
<link rel="stylesheet" id="css-main" href="~/BackEnd/assets/css/oneui.min.css">

<!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
<!-- <link rel="stylesheet" id="css-theme" href="~/BackEnd/assets/css/themes/amethyst.min.css"> -->
<!-- END Stylesheets -->