@using System.Data;
@using RestaurantManagement.Models;
@model RestaurantManagement.BackEnd.ViewModel.AdminGroup.AdminGroupCreateViewModel

@{
    ViewData["Title"] = "建立帳號";
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
            <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-1">
                    帳號管理
                </h1>
            </div>
            <nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <span class="link-fx">群組管理</span>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        群組設定
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Full -->
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">群組設定新增</h3>
        </div>
        <div class="block-content block-content-full">
            <form class="row g-3 needs-validation" novalidate="" asp-action="Edit" asp-controller="AdminGroup">

                <input type="hidden" asp-for="Creator" />

                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">群組名稱</label>
                    <input asp-for="GroupName" class="form-control" type="text" />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">群組說明</label>
                    <input asp-for="GroupInfo" class="form-control" type="text" />
                    <span asp-validation-for="GroupInfo" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label"></label>


                    <div class="container-fluid">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">新增權</th>
                                        <th scope="col">查看權</th>
                                        <th scope="col">編輯權</th>
                                        <th scope="col">刪除權</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (MenuGroup group in @Model.MenuGroupModels)
                                    {
                                        <tr class="table-info">
                                            <td>@group.MenuGroupName</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>


                                        @foreach (MenuSub sub in @Model.MenuSubModels)
                                        {
                                            if (sub.MenuGroupId.Equals(group.MenuGroupId.ToString()))
                                            {
                                                AdminRole ar = Model.AdminRoleModels.Where(model_ar => model_ar.MenuSubId.Equals(sub.MenuSubId)).FirstOrDefault();

@*                                                 string ar = Model.AdminRoleModels.AsEnumerable()
                                                .Where(role => role.MenuSubId == sub.MenuSubId)
                                                .Select(role => role.Role)
                                                .FirstOrDefault() ?? string.Empty; *@

                                                <tr>
                                                    <td>@sub.MenuSubName</td>

                                                    <td>
                                                        <div class="form-check">

                                                            @if (ar != null && ar.Role.Contains("C"))
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="C" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="C">
                                                            }

                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-check">

                                                            @if (ar != null && ar.Role.Contains("R"))
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="R" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="R">
                                                            }

                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-check">

                                                            @if (ar != null && ar.Role.Contains("U"))
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="U" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="U">
                                                            }

                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-check">

                                                            @if (ar != null && ar.Role.Contains("D"))
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="D" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="checkbox" id="C" name="e_@sub.MenuSubId" value="D">
                                                            }

                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>



                <div class="col-mt-12">
                    <button class="btn btn-primary" onclick="checkPassword();" type="submit">送出</button>
                    <a asp-action="Index" class="btn btn-primary">返回列表</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

